<% provide(:metacontent, "TradeIndiaLeads is online platform for b2b sales, b2b marketing and trade leads. Online marketplace for manufacturers, suppliers, buyers and business leads.") %>
  <!-- Header -->
  <header id="head">
    <div class="container-fluid">
      <div class="row">
        <div class="area">
          ⚠ India Leads ⚠
        </div>
        <h1 class="lead">Marketplace for B2B Sales, Trade &amp; Marketing leads</h1>
        <p class="tagline">At TradeIndia Leads we offer you free platform for B2B Sales, B2B marketing &amp; B2B trade leads. You can find best buying and selling leads for your business. You can also post your business requirement here for free. Let suppliers &amp; manufacturers know your need. Get approached by them with best quote for your post.</p>
<!--         <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a></p> -->
        <%if logged_in? %>
          <p><%= link_to "Post buy/sell lead now", new_micropost_path, class: "btn btn-action btn-lg" %> 
          <%= link_to "View leads categories", categories_path, class: "btn btn-default btn-lg" %> </p>
        <%else%>
          <p><%= link_to "Sign up", signup_path, class: "btn btn-action btn-lg" %> 
             <%= link_to "Log In", login_path, class: "btn btn-default btn-lg" %>
          </p>
        <%end%>
      </div>
    </div>
  </header>


  <!-- Intro -->
  <div class="container text-center">
    <br> <br>
    <h2 class="thin">Looking for business leads for b2b sales, b2b marketing and b2b trade? You are at right place.</h2>
    <p class="text-muted">
      Signup/login to access our online service for viewing and posting B2B leads for free. We at TradeIndia Leads provide you best sales leads for free. You can also post your sales, marketing and trade leads in 18 business categories and let buyers know what you have to offer to them. TradeIndia Leads work as a B2B trade accelerator that help your business grow by connecting prospective buyers, traders, sellers, suppliers and manufacturers.
      </p>
  </div>

  <div class="jumbotron top-space bottom-space">
    <div class="container">
      
      <h3 class="text-center thin">Top B2B Leads categories</h3>
      <% if !logged_in? %>
      <h6 class="text-center">(Click on below leads link after signing in)<h6>
      <%end%>
      
      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-shopping-bag fa-5"></i>
          <%if logged_in? %>
            <%= link_to "Apparel & Fashion", category_path("1"), class: "btn btn-default btn-lg"%></h4>
          <%else%>
            <%= link_to "Apparel & Fashion", login_path, class: "btn btn-default btn-lg"%></h4>
          <%end%>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-users fa-5"></i>
          <% if logged_in? %>
          <%= link_to "Business Services", category_path("13"), class: "btn btn-default btn-lg" %></h4>
          <%else%>
            <%= link_to "Business Services", login_path, class: "btn btn-default btn-lg"%></h4>
          <%end%>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-industry fa-5"></i>
          <%if logged_in? %>
            <%= link_to "Industrial Supply", category_path("17"), class: "btn btn-default btn-lg" %></h4>
          <%else%>
            <%= link_to "Industrial Supply", login_path, class: "btn btn-default btn-lg" %></h4>
          <%end%>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption"><h4><i class="fa fa-diamond fa-5"></i>
          <%if logged_in? %>
          <%= link_to "Metals & Minerals", category_path("16"), class: "btn btn-default btn-lg" %></h4>
          <%else%>
          <%= link_to "Metals & Minerals", login_path, class: "btn btn-default btn-lg" %></h4>
          <%end%>
          </div>
        </div>
      </div> <!-- /row  -->
    
    </div>
  </div>
  <!-- /Highlights -->


    <aside class="callout padding-bottom-space">
        <div class="text-vertical-center">
        
          <div class="text-center">
          <h2 class="font-medium margin-muted padding-space">How it works</h2><span></span>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-offset-0 col-sm-11 col-sm-offset-1">
          <div class="col-md-2 col-sm-12 text-center"></div>
          <div class="col-md-2 col-sm-3 text-center">
                            <%= image_tag "book1.png", width: "50" %>
                            <h4 class="font-medium">SignUp/Login</h4>
                            Login if you have account else sign up to get access to post or view TradeIndia Leads post.
        </div>
        <div class="col-md-1 col-sm-1 text-center"></div>
        <div class="col-md-2 col-sm-3 text-center">
                            <%= image_tag "schedule1.png", width: "50" %>               
                            <h4 class="font-medium">Post(Buy/Sell) leads</h4>
                            After signing up/login please post/view your requirement/offering under appropriate category.
        </div>
        <div class="col-md-1 col-sm-1 text-center"></div>
        <div class="col-md-2 col-sm-3 text-center">
                            <%= image_tag "relax1.png", width: "50" %>
                            <h4 class="font-medium">Relax</h4>
                            You will now be contacted by the prospective buyers and sellers with best quotes.
        </div>
        <div class="col-md-2 col-sm-12 text-center"></div>
      </div>

        </div>
    </aside>