<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :buysell, 'Buy or Sell' %><br />
  <%= f.select(:buysell, ['Buy', 'Sell'], :include_blank => "Please select one item") %>

  <%= f.label :category, 'Select Category' %><br />
  <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => "Please select category for post") %>
  <%= f.label :title, 'Title of deal' %><br />
  <%= f.text_field :title, placeholder: "Enter Title(maximum 100 characters)" %>
  <%= f.label :content, 'Deal Details' %><br />
  <div class="field">
    <%= f.text_area :content, placeholder: "Post details of deal here(maximum 240 characters)" %>
  </div>
  <%= f.label :amount, 'Offer Amount in $ (optional)' %>
  <%= f.number_field :amount, placeholder: 'Offer Amount in $' %>
  <%= f.label :contact_detail, 'Contact Email/phone' %>
  <%= f.text_field :contact_detail, placeholder: 'Enter email or phone for contacting' %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
