<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
  <%= render 'layouts/shim' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= yield(:metacontent)%>" >
  <meta name="keywords" content="TradeIndia Leads, business leads, sales offer, B2B marketing, export, import, marketing leads, business leads, top sales offer, overstock, business networking">
  <meta name="author" content="">
  <meta name="google-site-verification" content="oxCfN2-A2gAu0vaSdBgcjg2Nnt9XwJ0RniAdf3U-8zg" />
</head>
<body>
    <%= render 'layouts/header' %>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
